.moodStyle0 {
  background: url('../images/smile.png')
}

.moodStyle1 {
  background: url('../images/flat.png')
}

.moodStyle2 {
  background: url('../images/happy.png')
}

.moodStyle3 {
  background: url('../images/cool.png')
}

.moodStyle4 {
  background: url('../images/unhappy.png')
}

.moodStyle5 {
  background: url('../images/indifference.png')
}

.moodStyle6 {
  background: url('../images/cry.png')
}

.moodStyle7 {
  background: url('../images/anger.png')
}


.moodStyle00 {
  background: url('../images/smile0.png')
}

.moodStyle11 {
  background: url('../images/flat0.png')
}

.moodStyle22 {
  background: url('../images/happy0.png')
}

.moodStyle33 {
  background: url('../images/cool0.png')
}

.moodStyle44 {
  background: url('../images/unhappy0.png')
}

.moodStyle55 {
  background: url('../images/indifference0.png')
}

.moodStyle66 {
  background: url('../images/cry0.png')
}

.moodStyle77 {
  background: url('../images/anger0.png')
}

.weatherStyle0 {
  background: url('../images/sunshine.png')
}

.weatherStyle1 {
  background: url('../images/cloud.png')
}

.weatherStyle2 {
  background: url('../images/wind.png')
}

.weatherStyle3 {
  background: url('../images/rain.png')
}

.weatherStyle4 {
  background: url('../images/rainstorm.png')
}

.weatherStyle5 {
  background: url('../images/Thunder.png')
}

.weatherStyle6 {
  background: url('../images/snow.png')
}

.weatherStyle7 {
  background: url('../images/fog.png')
}

.weatherStyle00 {
  background: url('../images/sunshine0.png')
}

.weatherStyle11 {
  background: url('../images/cloud0.png')
}

.weatherStyle22 {
  background: url('../images/wind0.png')
}

.weatherStyle33 {
  background: url('../images/rain0.png')
}

.weatherStyle44 {
  background: url('../images/rainstorm0.png')
}

.weatherStyle55 {
  background: url('../images/Thunder0.png')
}

.weatherStyle66 {
  background: url('../images/snow0.png')
}

.weatherStyle77 {
  background: url('../images/fog0.png')
}